/* FONTS */
@font-face {
  src: url(../fonts/gilroy-extrabold.otf) format("opentype");
  font-family: "Gilroy";
  font-display: block;
}
@font-face {
  src: url(../fonts/gilroy-light.otf) format("opentype");
  font-family: "Gilroy Light";
  font-display: block;
}
@font-face {
  src: url(../fonts/SourceSansPro-Regular.ttf) format("truetype");
  font-family: "Source Sans Pro Regular";
  font-display: block;
}
/* Universal selector, body tag */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro Regular", sans-serif;
  text-decoration: none;
}

body {
  background-color: white;
  color: #4a4540;
}

img {
  display: block;
  width: 100%;
}

/* General Use Classes */
.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.banner {
  width: 100%;
}

.banner-headline {
  margin: 150px 0 20px 150px;
  font-family: "Gilroy Light", sans-serif;
  font-weight: auto;
  font-size: 55px;
  letter-spacing: 0.5px;
  line-height: 55px;
  text-transform: auto;
  text-decoration: none;
  background-color: none;
  color: midnightblue;
}

.banner-text {
  margin: 5px 5px 5px 150px;
  font-family: "Source Sans Pro Regular", sans-serif;
  font-weight: normal;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: none;
  text-decoration: none;
}

.cta {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 0;
  outline: none;
  font-family: "Gilroy Light", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.collapsed {
  height: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  visibility: none;
}

.list-item {
  display: inline-block;
  text-decoration: none;
}

.on-black {
  background-color: none;
  color: #eee;
}

.on-white {
  background-color: none;
  color: #4a4540;
}

.rule {
  display: block;
}

/* Navigation Bar */
nav#navigation {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 5px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border: 1px solid lightgrey;
  border-radius: none;
  outline: none;
  width: 100%;
  background-color: #fff;
  color: inherit;
}
nav#navigation div#nav-logo-container {
  display: inline-block;
}
nav#navigation div#nav-logo-container img {
  position: relative;
  top: 4px;
}
nav#navigation div#nav-links-container {
  display: inline-block;
}
nav#navigation div#nav-links-container a {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: "Gilroy Light", sans-serif;
  font-weight: bold;
  font-size: 14.5px;
  letter-spacing: 1px;
  line-height: auto;
  text-transform: none;
  text-decoration: none;
  transition: 0.3s ease;
  background-color: none;
  color: midnightblue;
}
nav#navigation div#nav-links-container a:hover {
  background-color: #eee;
  color: midnightblue;
}
nav#navigation div#nav-links-container a#cta {
  border: none;
  border-radius: 0;
  outline: none;
  font-family: "Gilroy Light", sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1.5px;
  line-height: auto;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 100px;
  font-weight: bold;
  background-color: midnightblue;
  color: white;
}

/* Page Banner Section */
section#page-banner {
  margin: 60px 0 0 0;
  padding: 50px 10px 150px 10px;
  background-image: url(../images/mathew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
section#page-banner div p {
  width: 50%;
}

/* Trusted By */
section#trusted {
  padding: 40px 40px 0 40px;
}
section#trusted h2 {
  margin: 25px auto;
  font-family: "Gilroy Light", sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: inherit;
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: midnightblue;
}
section#trusted p {
  margin: 10px auto;
  font-family: "Source Sans Pro Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: #4a4540;
}
section#trusted ul {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 5px auto;
  padding: 5px;
}
section#trusted ul li {
  margin: 10px;
  padding: 5px;
  width: 15%;
}
section#trusted div.flex {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 20px 0;
}
section#trusted div.flex div.card {
  margin: 20px;
  bottom: 170px;
  width: 25%;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: none;
  color: inherit;
}
section#trusted div.flex div.card h3 {
  margin: 5px auto;
  font-family: "Gilroy Light", sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 30px;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: midnightblue;
}
section#trusted div.flex div.card p {
  margin: 5px 15px;
  font-family: "Source Sans Pro Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: none;
  text-decoration: none;
}

/* Threat Report Section  */
section#report {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: red;
}
section#report div.container_text, section#report div.container_img {
  margin: 0;
  width: 50%;
}
section#report div.container_text {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 150px 0 80px 0;
}
section#report div.container_text h2 {
  margin: 10px auto;
  font-family: "Gilroy Light", sans-serif;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.2px;
  line-height: 40px;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: #fff;
}
section#report div.container_text hr {
  margin: 20px auto;
  width: 90%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
}
section#report div.container_text p {
  margin: 25px auto;
  padding: 0 30px;
  font-family: "Source Sans Pro Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: #fff;
}
section#report div.container_text a {
  background-color: none;
  color: #fff;
}
section#report div.container_img img {
  height: 100%;
}

/* Display Cards (2)  */
section#display_2 {
  padding: 50px 0 100px 0;
}
section#display_2 h2 {
  margin: 40px auto;
  font-family: "Gilroy Light", sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.5px;
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: midnightblue;
}
section#display_2 div {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  overflow: visible;
}
section#display_2 div.card {
  margin: 20px;
  width: 45%;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: none;
  color: inherit;
}
section#display_2 div.card h3 {
  margin: 10px auto;
  font-family: "Gilroy Light", sans-serif;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 40px;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: midnightblue;
}
section#display_2 div.card hr {
  margin: 20px auto;
  width: 90%;
  border: 1px solid midnightblue;
  border-bottom: none;
}
section#display_2 div.card p {
  margin: 15px auto;
  padding: 0 5px;
  font-family: "Source Sans Pro Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: none;
  text-decoration: none;
}
section#display_2 a {
  background-color: midnightblue;
  color: #fff;
}

/* Other Banner */
section#other-banner {
  background-image: url(../images/rain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 700px;
}

/* Footer Section */
footer {
  padding: 50px 0 5px 0;
  background-color: #fff;
  color: midnightblue;
}
footer nav#footer-nav {
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
}
footer nav#footer-nav div.column {
  display: inline-block;
  margin: 10px 60px;
  padding: 0;
  width: 150px;
}
footer nav#footer-nav div.column:nth-child(4) {
  margin-right: 0;
}
footer nav#footer-nav div.column h4 {
  display: block;
  margin: 20px 0;
  font-family: "Gilroy Light", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: none;
  color: midnightblue;
}
footer nav#footer-nav div.column a {
  display: block;
  margin: 15px 0;
  padding: 0;
  font-family: "Source Sans Pro Regular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: #4a4540;
  transition: 0.3s ease-in-out;
}
footer nav#footer-nav div.column a:hover {
  text-decoration: underline;
}
footer nav#footer-nav div.column a sup {
  font-size: 8px;
}
footer nav#footer-nav div.column a sup:hover {
  text-decoration: none;
}
footer nav#footer-nav div.column a span {
  color: orangered;
}
footer hr {
  margin: 20px auto;
  width: 90%;
  border: 1px solid midnightblue;
  border-bottom: none;
}
footer div#social {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
footer div#social div#social-media-container {
  align-self: center;
}
footer div#social div#social-media-container a {
  display: inline-block;
  margin: 0 10px 0 10px;
  padding: 5px;
  background-color: none;
  color: none;
}
footer div#footer-logo-container img {
  display: block;
  margin: 0 auto;
}
footer p#copyright {
  margin: 2px 0 0 0;
  font-family: "Source Sans Pro Regular", sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: #4a4540;
  text-align: right;
  align-self: center;
}

/***** MEDIA QUERIES *****/
@media screen and (max-width: 877px) {
  footer {
    padding-bottom: 50px;
  }

  div.column h4 {
    text-align: center;
  }

  div.column a {
    text-align: center;
  }

  footer div#social {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  footer div#social div#social-media-container, footer div#social div#footer-logo-container img, footer div#social p#copyright {
    margin: 5px auto;
  }
  footer div#social p#copyright {
    text-align: center;
    order: 5;
  }
}
