                                        // +=+=+=+=+=+ GENERAL STYLES +=+=+=+=+=+ //

// These classes are meant to be shared across all your projects. If you're finding it hard to figure out why your HTML elements aren't being styled the way you want don't forget to check the other modules.

// Import Statements

@import "variables";
@import "mixins";

/* Universal selector, body tag */

* {
    @include universalStyles;
  }
  
body {
    @include colorStyles(white, $colorOnWhite);
}

img {
    display: block;
    @include widthStyles(100%);
}

/* General Use Classes */

.align-c {
    text-align: center;
}

.align-l {
    text-align: left;
}

.align-r {
    text-align: right;
}

.banner {
    @include widthStyles(100%);
}

.banner-headline {
    @include marginStyles(150px 0 20px 150px);
    @include fontStyles($fontHeadings, normal, 55px);
    @include textStyles(0.5px, 55px, auto, none);
}

.banner-text {
    @include marginStyles(5px 5px 5px 150px);
    // @include paddingStyles(10px);
    @include fontStyles($fontParagraphs, normal, 19px);
    @include textStyles(1px, 30px, none, none);
}

.cta {
    @include marginStyles(10px auto);
    @include paddingStyles(10px); 
    @include borderStyles(1px solid $colorSecond, 0, none);
    @include fontStyles($fontSubheadings, bold, 16px);
    @include textStyles(0.5px, 25px, uppercase, none);
}

.collapsed {
    height: 0;
}

.flex {
    // -webkit-box-flex: flex;
    // -moz-box-flex: flex;
    // -ms-flex: flex;
    display: flex;
}

.grid {
    display: grid;
}

.hidden {
    visibility: none;
}

.list-item {
    display: inline-block;
    text-decoration: none;
}

.on-black {
    @include colorStyles(none, $colorOnBlack);
}

.on-white {
    @include colorStyles(none, $colorOnWhite);
}

.rule {
    @include displayStyles(block);
}

