                                        // +=+=+=+=+=+ VARIABLES +=+=+=+=+=+ //

// FONT STACKS  (Avenir Lt Pro Black, DejaVu Sans, Saira Condensed)                       

$fontNavLinks: "Gilroy Light", sans-serif;
$fontHeadings:"Gilroy Light", sans-serif;
$fontSubheadings: "Gilroy Light", sans-serif;
$fontParagraphs: "Source Sans Pro Regular", sans-serif;
// $fontParagraphs: "Sarabun", sans-serif;

// COLORS                           

$colorMain: midnightblue;
$colorSecond: #fff;
$colorOnFinal: #887e7e;
$colorOnWhite: #4a4540;
$colorOnBlack: #eee;

// BOX SHADOWS                           

$boxShadowLight: 2px 2px 10px rgba(211, 207, 207, 0.5);
$boxShadowDark: 2px 2px 10px rgba(211, 207, 207, 0.7);

//  CARD WIDTH FORMULAE                         

$c2: (100% / 2);
$c3: (100% / 3);
$c4: (100% / 4);

